single-movie-component {
    margin-top: 5vh;
    cursor: pointer;
}

.card-text {
    text-align: center;
    font-size: 10vh;
}

.card-header {
    font-size: 2vh;
    font-weight: 500;
}

.modal-title {
    font-size: 3vh;
    font-weight: 500;
}
