.top {
    padding-top: 20vh;
}

.search-div {
    margin: auto;
    width: 65vw;
    height: 4rem;
    background-color: #2c2f33;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* position: relative;
    top: 20vh; */
}

.search-bar {
    margin-top:0;
    width: 57vw;
    height: 4rem;
    border:none;
    color: white;
    opacity: .6;
    filter: alpha(opacity=40);
    font-size: 1.5rem;
    background-color: #2c2f33;
}

.search-icon {
    width: 8vw;
    height: 4rem;
    font-size: 2rem;
    opacity: 0.4;
    filter: alpha(opacity=40);
    color: white;
}

input.search-bar:focus {
    outline-width: 0;
}

input.search-bar {
    background-color: #2c2f33;
}

input.search-bar::placeholder {
    color: white;
    opacity: .8;
    filter: alpha(opacity=40);
}

.material-icons {
    line-height: 1.9;
}


