<div class="top">
    <div class="search-div">
        <span class="">
            <i class="material-icons search-icon text-center align-middle">search</i>
            <input #bar id="searchBar" class="search-bar" type="text" placeholder="Enter movie title" list="movieTitles" (keyup.enter)="onChange(bar.value)" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
            sagittis lacus vel augue laoreet rutrum faucibus.">
        </span>
    </div>
</div>
